body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
}

html {
  height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2b2d42;
  font-size: 2rem;
  color: white;
  --shadowPositionXY: 0px 4px;
  --shadowBlurRadius: 30px;
  --shadowSpreadRadius: 0px;
  --shadowColor: 77, 87, 94;
  --shadowOpacity: 0.15;
  --boxShadow: var(--shadowPositionXY) var(--shadowBlurRadius)
    var(--shadowSpreadRadius) rgba(var(--shadowColor), var(--shadowOpacity));
  box-shadow: var(--boxShadow);
}

.aboutmeGridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  gap: 20px;
}

.aboutmeDiv1 {
  grid-area: 1 / 1 / 3 / 3;
}

.aboutmeDiv2 {
  grid-area: 1 / 3 / 3 / 4;
}

.aboutmeDiv3 {
  grid-area: 3 / 1 / 5 / 2;
}

.aboutmeDiv4 {
  grid-area: 3 / 2 / 5 / 4;
}

.aboutmeDiv1, .aboutmeDiv2, .aboutmeDiv3, .aboutmeDiv4 {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.homeGridLayout {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: white;
  gap: 20px;
  color: black;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.homeDiv1 {
  grid-area: 1 / 1 / 4 / 3;
}

.homeDiv1 img {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.homeDiv2,
.homeDiv3,
.homeDiv4 {
  padding: 10px;
}

.homeDiv2 {
  grid-area: 1 / 3 / 2 / 5;
}
.homeDiv3 {
  grid-area: 2 / 3 / 3 / 5;
}
.homeDiv4 {
  grid-area: 3 / 3 / 4 / 5;
}
.homeDiv5 {
  grid-area: 3 / 4 / 4 / 5;
}

.tripleImgGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.tripleImgGrid img {
  min-width: 100%;
  width: 33%;
  height: 100%;
  object-fit: cover;
}

.gridImg1 {
  grid-area: 1 / 1 / 2 / 2;
}
.gridImg2 {
  grid-area: 1 / 2 / 2 / 3;
}
.gridImg3 {
  grid-area: 1 / 3 / 2 / 4;
}

.globalMenu {
  background-color: #424564;
  min-height: 100vh;
  width: 10%;
  min-width: 16ch;
  font-size: 1.5rem;
  color: white;
  align-items: center;
}

.globalMenuNavTags {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.globalMenuNavTags a {
  position: relative;
  text-decoration: none;
  color: white;
}

.globalMenuNavTags a:hover {
  font-size: 1.1em;
  color: lightgray;
}

.globalMenuNavTags a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.horizontal {
  display: flex;
  position: relative;
}

.globalMenuNavTags a:hover::after {
  width: 70%;
}

.currentPageTag {
  color: #ff6f61 !important;
}

.mainContent {
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
  padding: 15px;
  justify-content: space-evenly;
}

h1,
h2 {
  margin: 0;
}

.footer {
  width: 100vw;
  overflow: hidden;
  height: 200px;
  background-color: #2b2d42;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
  margin-bottom: 5px;
}

.footer a img {
  width: 40px;
}

.horizontal-media {
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.card button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.contactForm {
  border-radius: 10px;
  width: 500px;
  height: 75vh;
  background-color: #424564;
  color: white;
  padding: 20px;
  flex-wrap: wrap;
}

.contactForm textarea {
  width: 250px;
  border-radius: 5px;
  height: 200px;
  padding: 10px;
  resize: none;
}

.contactForm input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contactForm p {
  margin-bottom: 0;
}

.contactFormButton {
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  width: 150px;
  margin-bottom: 5px;
  position: absolute;
  bottom: 0;
  right: 50px;
  padding: 10px;
}

@media (max-width: 768px) {
  .globalMenu {
    font-size: 1rem;
    min-width: 100%;
    min-height: 100%;
  }

  .globalMenuNavTags {
    flex-direction: row;
    justify-content: center;
  }

  .horizontal {
    flex-direction: column;
  }

  .contactForm {
    border-radius: 0;
  }

  .card {
    width: 85vw;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
  }

  .aboutmeGridLayout {
    display: flex;
    flex-direction: column;
  }

  .contactForm {
    max-width: 90vw;
    height: 90vh;
  }

  .contactFormButton {
    width: 20%;
  }

  .gridLayout {
    display: flex;
    flex-direction: column;
  }

  .homeGridLayout {
    display: flex;
    flex-direction: column;
  }

  .tripleImgGrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

}
