body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: cursive;
}

.header {
    width: 100%;
    text-align: center;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2d42;
    font-size: 2rem;
    color: white;
    --shadowPositionXY: 0px 4px;
    --shadowBlurRadius: 30px;
    --shadowSpreadRadius: 0px;
    --shadowColor: 77, 87, 94;
    --shadowOpacity: .15;
    --boxShadow: var(--shadowPositionXY) var(--shadowBlurRadius) var(--shadowSpreadRadius) rgba(var(--shadowColor), var(--shadowOpacity));
    box-shadow: var(--boxShadow);
}

.globalMenu {
    background-color: #424564;
    height: 100vh;
    width: 10%;
    min-width: 16ch;
    font-size: 1.5rem;
    color: white;
    align-items: center;
}

.globalMenuNavTags {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.globalMenuNavTags a {
    position: relative;
    text-decoration: none;
    color: white;
}

.globalMenuNavTags a:hover {
    font-size: 1.1em;
    color: lightgray;
}

.globalMenuNavTags a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.horizontal {
    display: flex;
}

.globalMenuNavTags a:hover::after {
    width: 70%;
}

.currentPageTag {
    color: #ff6f61 !important;
}

.mainContentWrapper {
    min-height: 100vh;
    max-width: 100%;
    width: 100%;
    background-color: lightgray;
}

@media (max-width: 600px) {
    .globalMenu {
        font-size: 1rem;
        min-width: 100%;
        height: 100%;
    }
    
    .globalMenuNavTags {
        flex-direction: row;
        justify-content: center;
    }

    .horizontal {
        flex-direction: column;
    }
}
